body {
    width: auto;
    max-height: fit-content;
    background-image: url(../../Images/SystemBackground.jpg);
    background-size: cover;
}

#space {
    display: flex;
    align-items: center;
}

#sun {
    width: 80vh;
    height: 80vh;
    margin-left: -55vh;
    background-color: #FC9B41;
    border-radius: 50%;
}

#planetHolder {
    margin: 0px 0px;
    display: flex;
    align-items: center;
    width: 90%;
    height: 40vh;
}

.planet {
    background-size: cover;
}

#Mercury {
    margin-left: 55px;
    margin-right: 35px;
}

#Venus {
    margin-right: 40px;
}

#Earth {
    margin-right: 37px;
}

#Mars {
    margin-right: 137px;
}

#Jupiter {
    margin-right: 92px;
}

#Saturn {
    margin-right: 71px;
}

#Uranus {
    margin-right: 66px;
}

#textHolder h1 {
    text-transform: uppercase;
    color: white;
    font-size: 7em;
    margin-left: 2%;
}