body {
    margin: 0%;
    background-image: url(../Images/loginBackground.jpg);
    display: flex;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



.login {
    margin: 10px;
    background-color: #1F1F35;
    opacity: 80%;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 60px;
    font-size: 30px;
    border-radius: 10px;
}
#loginform{
    margin-top: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#loginbutton {
    margin: 10px;
    background-color: #1F1F35;
    opacity: 80%;
    border: none;
    color: white;
    margin-top: 1em;
    width: 200px;
    height: 50px;
    font-size: 40px;
    border-radius: 10px;
}

#SignUp {
    text-align: center;
    margin: 20px;
    background-color: none;
    opacity: 80%;
    border: none;
    justify-content: center;
    align-items: ce;
    display: flex;
    text-decoration: none;
    color: white;
    border-radius: 10px;
}