body {
    margin: 0%;
    background-image: url(/Images/loginBackground.jpg);
    display: flex;
    background-repeat: no-repeat;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#loginform {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup {
    margin: 10px;
    background-color: #1F1F35;
    opacity: 80%;
    border: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    width: 500px;
    height: 60px;
    font-size: 30px;
    border-radius: 10px;
}

#signupbutton {
    margin: 10px;
    background-color: #1F1F35;
    opacity: 80%;
    border: none;
    color: white;
    margin-top: 1em;display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    border-radius: 10px;
}

#login {
    text-align: center;
    margin: 20px;
    background-color: none;
    opacity: 80%;
    border: none;display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: block;
    text-decoration: none;
    color: white;f
    border-radius: 10px;
}