body {
    background-image: url(/Images/BackGroundSaturn.png);
}

#zaglavie {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5.5em;
    font-size: 8em;
    margin-bottom: 1em;
    font-weight: bold;
}

.vtorozaglavie {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 0.5em;
    font-size: 3em;
    font-weight: bold;
}

.carta {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 2em;
}

.carta img {
    margin: 1em;
}

.carta h4 {
    margin: 1em;
}

.carta p {
    width: 70%;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.snimka {
    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#p {
    font-size: 1.5em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-bottom: 4em;
}

#buton {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buton a {
    text-transform: uppercase;
    background-color: white;
    color: #483d61;
    padding: 0.8em 1.8em;
    font-size: 1.5em;
    margin-bottom: 2em;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    text-decoration: none;
}

.srednozaglavie {
    font-size: 2em;
}

#buton a:hover {
    background-color: #574974;
    transition: background-color 0.5s;
    color: white;
    transition: color 1;
}

body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background-color: #46409A;
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #312759;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 0px solid #2d4053;
    /* creates padding around scroll thumb */
}

#headerButtons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.headerButton {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    background: none;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0.5em;
    border: none;
    font-weight: bold;
    color: #747474;
    width: 6em;
    height: 2em;
    border-radius: 20px;
    opacity: 0.8;
    flex-direction: row;
    display: flex;
}

.headerButton:hover {
    transition: background-color 0.5s;
    transition: color 0.5s;
    color: white;
    background-color: #2c2c49;
    opacity: 1;
}